{% extends 'base.html.twig' %}
{% block title %}<title>reset-password</title>{% endblock %}
{% block body %}
<body class="Site">
{# открытие тега header происходит в base.html.twig #}
  </header>
  <div class="Middle Middle_top">
    <div class="Middle-top">
      <div class="wrap">
        <div class="Middle-header">
          <h1 class="Middle-title">Регистрация</h1>
          <ul class="breadcrumbs Middle-breadcrumbs">
            <li class="breadcrumbs-item"><a href="{{path('app_homepage')}}">Главная</a></li>
            <li class="breadcrumbs-item breadcrumbs-item_current"><span>Регистрация</span></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="Section">
        <div class="wrap">
            <p>
                Если учетная запись, соответствующая вашему адресу электронной почты, существует, то только что было отправлено электронное письмо, содержащее ссылку, которую вы можете использовать для сброса своего пароля. Срок действия этой ссылки истечет через {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.
            </p>
            <p>Если вы не получили электронное письмо, пожалуйста, проверьте свою папку со спамом или попробуйте еще раз <a href="{{ path('app_forgot_password_request') }}">try again</a>.</p>
        </div>
    </div>
</body></html>
{% endblock %}
